{
  "env": {
    "node": true,
    "es2021": true
  },

  "extends": ["standard-with-typescript", "eslint-config-prettier"],
  "overrides": [],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "space-before-function-paren": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/strict-boolean-expressions": 0
  }
}
